h2 {
  color: #fafafa;
  border-bottom: 2px solid #ddd;
  padding-bottom: 5px;
}

h3 {
  color: #fafafa;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 20px 0;
}

p {
  color: #555;
  line-height: 1.6;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.chart-container {
  margin-top: 20px;
}

.black {
  color: #555;
}

.sai {
  color: #3c39398d;
}

.alert-button {
  height: 40px;
  padding: 0 20px;
  font-size: 14px;
  background-color: #007bff;
  border: none;
  color: #fff;
  transition: background-color 0.3s ease;
  margin-right: 10px;
}

.alert-button:hover {
  background-color: #0056b3;
}

.check-button {
  height: 40px;
  padding: 0 20px;
  font-size: 14px;
  background-color: #28a745;
  border: none;
  color: #fff;
  transition: background-color 0.3s ease;
}

.check-button:hover {
  background-color: #218838;
}

.notification {
  margin-top: 10px;
  padding: 10px;
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
  color: #3c763d;
  border-radius: 5px;
}