.add-tracked-product {
    display: flex;
    align-items: center;
  }
  
  .add-tracked-product input {
    margin-right: 10px; /* Adjust the spacing between the input and the button as needed */
    margin-left: 10px;
    padding: 4px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 300px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    transition: border 0.3s, box-shadow 0.3s;
  }

    .add-tracked-product input:focus {
        border: 1px solid #007BFF;
        box-shadow: 2px 2px 12px rgba(0, 123, 255, 0.3);
    }

    h3{
        color: #fafafa;
        margin-top: 10px;
    }

  .submit-button {
    padding: 5px 15px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
  }  