

.password-toggle-icon {
  position: absolute;
  right: 5px; /* Adjusted to move closer to the edge */
  top: 75%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #6c757d;
}

.password-toggle-icon:hover {
  color: #495057;
}

.update-button {
  height: 40px;
  padding: 0 20px;
  font-size: 14px;
  background-color: #4caf50; /* Green color for Update Profile */
  border: none;
  color: #fff;
  transition: background-color 0.3s ease;
}

.update-button:hover {
  background-color: #45a049; /* Darker green color on hover for Update Profile */
}


.user-profile .user-details p {
  color: #fff; /* or another contrasting color */
  font-size: 16px;
}
